<div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}">Marketplace</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
                <form class="navbar-form navbar-left" role="search" action='{% url "search" %}'>
                <div class="form-group">
                  <input type="text" class="form-control" name='q' placeholder="Search" style='width: 200px;'>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </li>
    
            
            <li><a href='{% url "all_products" %}'>Products</a></li>
            <li><a href='{% url "library" %}'>My Library</a></li>
            
           


          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href='{% url "cart" %}'><span class='glyphicon glyphicon-shopping-cart'></span> Cart</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href='#'>Account Info</a></li>
                 <li><a href='{% url "library" %}'>My Library</a></li>
    
                <li class="divider"></li>
                <li class="dropdown-header">Merchant Account</li>
                <li><a href="#">Manage Products</a></li>
                <li><a href="#">Sales Report</a></li>
                <li class="divider"></li>
                
                <li><a href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>